.container {
  position: relative;
  background-color: var(--blockbg-main);

  & span:first-of-type {
    position: absolute;
    font-size: 4rem;
    color: var(--nav-element-color5);
    z-index: 1;
  }
  & .desc {
    display: flex;
    flex-flow: column wrap;
    text-align-last: center;
    padding: 0 1em;
    & h2 {
      white-space: pre-line;
      font-size: 3rem;
    }
    & p {
      text-align: center;
    }
  }
  & .pictures {
    height: max-content;
    @mixin pattern1 var(--nav-element-color2);
  }
  & .dimensions {
    width: 30%;
  }
  & .inside {
    width: 30%;
  }
  & .price {
    width: 30%;

    & span {
      position: relative;
    }
  }
}

.bullets {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  & p {
    display: none;
  }
  & div {
    width: 12px;
    height: 12px;
    cursor: pointer;
    border-radius: 50%;
    margin: 1px;
    background-color: var(--nav-element-color2);
    @mixin M {
      width: 20px;
      height: 20px;
      border: 2px solid var(--text-alt);
      opacity: 0.6;
      background-color: var(--nav-element-color5);
    }
  }
}
