.container {
  width: 100%;
  overflow: hidden;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;

  & h2 {
    font-size: 3rem;
    color: var(--text-alt);
  }
}
