.Cart {
  position: fixed;
  z-index: -1;
  top: 45px;
  right: 0;
  padding: 2ch 1ch;
  @mixin pattern1 var(--headerbg), 0 0 10px 10px;
  box-shadow: 0 20px 40px -10px rgb(0 0 0 / 0.2);
  overflow: hidden;

  min-height: 400px;
  min-width: 400px;
}
