@import "./palette";
@import "./sizes";
@import "./mixin.css";

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  user-select: none;
}
html {
  scroll-behavior: smooth;
}
a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-main);
  @mixin pattern3 var(--layoutbg-main);
  background-position-y: 190%;
}

body::-webkit-scrollbar {
  position: absolute;
  width: 5px;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--nav-element-color5);
}

body > div + div {
  width: 100%;
  /* @mixin M {
    width: 85%;
  } */
  margin: 0 auto;
  display: grid;
  grid-template-columns: [column1] 60% [column2] calc(40% - 10px);
  grid-template-rows: [header] auto [feautured] auto [main] auto [footer] 50px;
  column-gap: 10px;
  row-gap: 10px;
}
