html {
  /* //  LAYOUT */
  --layoutbg-main: #fdf1ec;
  --layoutbg-alt: #000;

  --shadow: #f2f3f5;

  --nav-color1: #f2ebe4;
  --nav-color2: #fff1e2;

  --nav-element-color1: #441800;
  --nav-element-color2: #f2ebe4;
  --nav-element-color3: #ed6e8e;
  --nav-element-color4: #ff9898;
  --nav-element-color5: #e63946;
  --nav-element-color6: #ff7c86;

  --loading-bg: #eaddd0;

  --nav-element-gradient1: linear-gradient(
    30deg,
    var(--nav-element-color3) 5%,
    var(--nav-element-color4) 95%
  );

  --nav-element-gradient2: linear-gradient(180deg, #ffffff 0%, #fe776e 85%);

  --accent-color1: red;
  --accent-color2: blue;

  --headerbg: #fff;

  /* //  BLOCK */
  --blockbg-main: #fdf4ef;
  --blockbg-alt: #000;

  /* //  TEXT */
  --text-main: #441800;
  --text-underline: #9e9e9e;
  --text-alt: #fff;

  --text-underline1: #ed6e8e;
  --text-underline2: #e63946;
  --text-underline3: #ffbe0b;

  /* //  ERROR */
  --errorbg-main: #e03030;
  --errorbg-font-alt: #e63946;
  --errorbg-font: #fff;
}
