.container {
  width: 100%;
  @mixin L {
    width: 50%;
  }
  margin: 0 auto;

  & button {
    align-self: center;
    width: fit-content;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 15px;
    border: none;
    background-color: var(--nav-element-color5);
    color: var(--text-alt);
  }
  & button:disabled {
    opacity: 0.7;
    filter: grayscale();
  }
  & .details {
    display: grid;
    grid-template-columns: [column1] auto [column2] auto;
    row-gap: 10px;
    margin: 10px 0;

    & input,
    textarea {
      grid-column: 1 / span 2;
      padding: 1ch;
      border: none;
      background-color: var(--nav-element-color5);
      color: var(--text-alt);

      &::placeholder {
        color: var(--text-alt);
      }
    }
    & textarea {
      height: 20ch;
      resize: none;
    }
  }
  & .create {
    @mixin pattern5 var(--nav-element-color5);
    color: var(--text-alt);

    &_result {
      cursor: pointer;
      text-align: center;
      padding: 1ch;
    }
    &_params {
      display: flex;
      flex-flow: column wrap;
      align-content: center;
      padding: 1ch;

      & :nth-child(odd) {
        display: block;
        margin-top: 1ch;
      }
      & :nth-child(even) {
        padding: 0.5ch;
        margin-bottom: 1ch;
        width: 50%;
        border: none;
      }
    }
  }
  & .drop {
    @mixin pattern5 var(--nav-element-color5);
    color: var(--text-alt);
    display: flex;
    flex-flow: column;
    padding: 0 2ch;
    margin: 2ch 0;

    & span {
      margin: 20px 0;
    }

    & ul {
      width: 100%;
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      overflow: hidden;
      & li {
        font-weight: bold;
        font-size: 1.5rem;
      }
    }
  }
}
