.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  @mixin L {
    width: 70%;
  }
  margin: 0 auto;

  &_nav {
    display: flex;
    justify-content: space-between;
  }
  & form {
    display: flex;
    flex-direction: column;
  }
  & form > button,
  &_nav > button {
    cursor: pointer;
    display: block;
    align-self: center;
    width: fit-content;
    font-size: 2rem;
    font-weight: bold;
    padding: 10px 15px;
    border: none;
    background-color: var(--nav-element-color5);
    color: var(--text-alt);

    &:disabled {
      cursor: not-allowed;
      opacity: 0.7;
      filter: grayscale();
    }
  }
  & .active {
    cursor: default;
    background-color: var(--accent-color1);
    color: var(--text-main);
  }
}
