.header {
  grid-column: 1 / span 2;
  position: sticky;
  top: 0;
  z-index: 10000;
  display: flex;
  justify-content: space-between;

  @mixin pattern4 var(--headerbg);

  & svg {
    cursor: pointer;
  }

  &_logo {
    position: absolute;
    z-index: -2;
    left: 50%;
    transform: translateX(-50%);
  }
  &_title {
    position: absolute;
    z-index: -2;
    top: 10px;
    left: 50%;
    transform: translateX(calc(-50% + 10px));
  }

  & span {
    display: flex;
    justify-content: center;
    outline: none;
    text-align: center;
    vertical-align: top;
    border-radius: 30px;
    color: var(--nav-element-color3);
    @mixin pattern1 var(--headerbg), 30px;
    box-shadow: 3px 6px 15px -10px rgba(0, 0, 0, 0.2);

    &:first-of-type {
      width: 55px;
      height: 55px;
      font-size: 40px;
    }

    &:last-of-type {
      width: 55px;
      height: 55px;
      padding-right: 4px;
      font-size: 42px;
    }

    & svg {
      align-self: center;
    }
  }
}
