.header {
  grid-column: 1 / span 2;
  position: sticky;
  top: 0;
  z-index: 10000;

  & .wrapper {
    background-position-y: 170%;
    display: flex;
    justify-content: space-between;
    padding: 5px;

    /* @mixin pattern4 var(--headerbg);
    box-shadow: 0 10px 40px -10px rgb(0 0 0 / 0.1); */

    & svg {
      cursor: pointer;
    }

    & span {
      height: 40px;
      width: 40px;
      font-size: 40px;
      align-self: center;
      color: var(--nav-element-color3);
    }
  }
  &_title {
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(calc(-50% + 10px));
    z-index: 1;
  }
  &_logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 3px;
  }
}
