.container {
  position: relative;
  width: 100%;
  display: flex;
  flex-flow: column;
}
.bullets {
  align-self: center;
  padding: 5px 0;
  display: flex;
  visibility: hidden;
  @mixin M {
    visibility: visible;
  }
  & div {
    position: relative;
  }
  & p {
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    line-height: 25px;
    color: var(--text-alt);
  }
  & div {
    cursor: pointer;
    margin: 1px;
    width: 25px;
    height: 25px;
    background-color: var(--nav-element-color5);
  }
}
