.wrapper {
  @mixin deviceWidth;
  width: 100%;
  cursor: grab;
}
.content {
  padding: 3em 0.5em;
  @mixin M {
    padding: 2em 0;
  }

  & img {
    align-self: center;
  }
  & p {
    font-weight: 300;
    margin-top: 0.5rem;
    line-height: 1rem;
  }
  & h2 {
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 300;
    letter-spacing: -0.05em;
  }
}
