.container {
  position: relative;
  margin: auto;
}

.bullets {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;

  & p {
    display: none;
  }
  & div {
    cursor: pointer;
    border-radius: 50%;
    margin: 1px;
    opacity: 0.6;
    width: 15px;
    height: 15px;
    background-color: var(--nav-element-color3);
  }
}
