.container {
  @mixin roundedCard;
  position: absolute;
  right: 0;
  top: 50px;
  height: 100%;

  &_toggler {
    position: absolute;
    top: -40px;
    right: 0;
    outline: none;
    box-sizing: border-box;
    padding: 0.5ch;
    font-size: 1rem;
    font-weight: 700;
    background-color: var(--nav-element-color5);
    color: var(--text-alt);
    border: none;
  }
}
