.container {
  position: relative;
  @mixin pattern1 var(--nav-element-color2);
  & .toggler {
    position: absolute;
    left: -50px;
    top: -6px;
    cursor: pointer;

    & span {
      font-size: 4rem;
      color: var(--nav-element-color5);
    }
  }
}
