.container {
  padding: 0 1ch;

  &_add {
    display: flex;
    justify-content: space-between;
    height: 50px;

    &_range {
      position: relative;
      width: 100%;
    }
    &_bar {
      background-color: var(--text-alt);
      height: 2px;
      position: relative;
      top: 22px;
      width: 100%;
    }
    &_handle {
      cursor: pointer;
      position: relative;
      width: 50px;
      bottom: 5px;

      & path {
        fill: var(--text-alt);
      }
    }
    &_knob {
      background-color: var(--text-alt);
      height: 16px;
      left: 23px;
      position: absolute;
      top: 17px;
      width: 4px;
    }
    &_count {
      color: var(--text-main);
      font-family: "sans-serif";
      font-weight: 800;
      left: 0;
      position: relative;
      text-align: center;
      top: -37px;
      user-select: none;
    }

    & span {
      font-size: 46px;

      &:first-of-type {
        margin-right: 5px;
      }
      &:last-of-type {
        margin-left: 5px;
      }
    }

    & button {
      background-color: var(--text-underline3);
      border-radius: 3px;
      padding: 0.5ch;
      font-size: 1rem;
      font-weight: 700;
      color: var(--text-main);
      border: none;
      box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.2);
    }
  }

  &_images {
    position: relative;
    max-height: 450px;
    overflow: hidden;
  }
  &_info {
    & h2 {
      text-align: center;
      font-size: 2rem;
    }
  }
  &_price {
    padding: 1ch 0;
    & h3 {
      text-align: center;
      font-size: 3rem;
    }
  }
}

.bullets {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  & p {
    display: none;
  }
  & div {
    width: 15px;
    height: 15px;
    cursor: pointer;
    border-radius: 50%;
    margin: 1px;
    background-color: var(--nav-element-color2);
  }
}
