.container {
  display: grid;
  grid-gap: 5px;
  grid-auto-rows: 100px;
  width: 100%;
  padding: 10px;
}
.slot {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
  border: 1px dashed var(--nav-element-color5);
  &_add {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: var(--nav-element-color5);
    cursor: pointer;
  }
}
.filled {
  width: 100%;
  height: 100%;
  background-size: cover;
  display: flex;
  justify-content: center;
  background-position: center;

  &_letter {
    align-self: center;
    font-size: 1em;
    text-align: center;
    color: var(--nav-element-color5);
  }

  &_del {
    cursor: pointer;
    position: absolute;
    font-size: 2rem;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    transform: rotate(45deg);
    background-color: var(--text-underline2);
    border-radius: 50%;
    top: 3px;
    right: 3px;
    color: var(--text-alt);
  }
}
