.header {
  grid-column: 1 / span 2;
  position: sticky;
  top: 0;
  z-index: 10000;

  & .wrapper {
    @mixin pattern4 var(--headerbg);
    background-position-y: 170%;
    display: flex;
    justify-content: space-between;
    padding: 5px;
  }

  & svg {
    cursor: pointer;
  }

  & span {
    align-self: center;
    color: var(--nav-element-color3);
  }
  & span:first-of-type {
    border: 3px solid var(--nav-element-color3);
    border-radius: 50%;
    font-size: calc(var(--icon-size)-7px);
    & svg {
      padding: 1px;
    }
  }
  & span:last-of-type {
    font-size: calc(var(--icon-size)+4px);
  }
  &_title {
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(calc(-50% + 10px));
    z-index: 1;
  }
  &_logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 1px;
  }
}
